:root {
  color-scheme: light dark;
  background-color: #ffffff;

  /* icon-color */
  --icon-color: #594ae1;
  --icon-bg-color: #e0e4fd;

  /* text-color */
  --text-primary: #1a1a1a;
  --text-secondary: #6b7280;
  --text-muted: #9ca3af;
  --text-success: #16a34a;
  --text-error: #dc2626;
  --text-link: #7c3aed;
  /* info-card-color */
  --info-card-bg: #f3f4f6;
  --info-card-border: #c3c7ca;

  /* button-color */
  /* default*/
  --btn-bg-color: #4f38fb;
  --btn-text-color: #ffffff;
  --btn-disabled-bg-color: #2c1f8d;
  --btn-disabled-text-color: #b4b4b4;

  /* secondary*/
  --btn-secondary-bg-color: #dadadaff;
  --btn-secondary-text-color: #000000;
  --btn-secondary-disabled-bg-color: #c5c5c5;
  --btn-secondary-disabled-text-color: #818181;

  /* ghost*/
  --btn-ghost-bg-color: transparent;
  --btn-ghost-text-color: #000000;
  --btn-ghost-disabled-bg-color: transparent;
  --btn-ghost-disabled-text-color: #6e6e6e;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #16171d;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
